.modal__label {
  display: flex;
  flex-direction: column;
  padding: 24px 0 0;
}
.modal__bottomlabel{
  display: flex;
  flex-direction: column;
  padding: 24px 0 32px;
}

.modal__input {
  width: 100%;
  line-height: 20px;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 8px 0 0;
}

.modal__radio-title {
  margin: 0;
  padding: 24px 0 12px;
}
.modal__radio-input-hot {
  padding: 0 0 8px;
}
.modal__radio-input-warm {
  padding: 0 0 8px;
}
.modal__radio-input-cold {
  padding: 0 0 32px;
}
