.card__section {
  margin-top: 40px;
  font-size: 20px;
}
.main {
  padding: 0 20px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
}
.card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 34px 0 85px
}
