.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
  margin: 32px 0 24px 0;
}
.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  opacity: 100%;
  transition: 0.25s ease-in-out;
  font-size: 20px;
  font-family: "CabinetGrotesk-Bold";
}
.header__button:hover {
  opacity: 70%;
}
.header__name {
  text-decoration: none;
  color: black;
  opacity: 100%;
  transition: 0.25s ease-in-out;
  font-size: 20px;
}

.header__name:hover {
  opacity: 70%;
}
.header__avatar {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}
.header__setting {
  font-size: 20px;
  font-family: "CabinetGrotesk-Bold";
}
