.sideBar {
  display: flex;
  width: 233px;
  height: 56px;
  justify-content: center;
}
.sideBar__user {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.sideBar__avatar{
 height: 56px;
}
.sideBar__buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}