.clothes__section-button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  opacity: 100%;
  transition: 0.25s ease-in-out;
  font-size: 20px;
  font-family: "CabinetGrotesk-Bold";
}
.clothes__section-button:hover {
  opacity: 70%;
}
.clothes__section-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.clothes__section-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}
.clothes__section-items_visible {
  display: inline-flex;
}
.clothes__section-items_hidden {
  display: none;
}
.clothes__section-title {
  font-size: 20px;
  font-family: "CabinetGrotesk-Bold";
  margin: 0;
}
